<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>burud samaj vadhu-var suchak samiti</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />


    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/profile.css">

    <!-- bs4 links here -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- font icon links -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha384-GLhlTQ8iN17SmeVH6qyuqF7rTlM6HAPB4l+K5cI8PTq5FfF5s2r0dAizPj7b" crossorigin="anonymous">


    <!-- javascript link and aslo the boottrsap 5 link here start here -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <!-- bootstrap 5 link  end here -->

</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s">
        <a class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 style="font-family:fantasy;"><span class="text-warning" style="text-decoration:underline;">BURUD</span>
                <span class="text-danger">BANDHAN</span></h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="/" class="nav-item nav-link active">Home</a>
                <a href="/about" class="nav-item nav-link">About</a>
                <a href=" /search" class="nav-item nav-link">search</a>

                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Stories</a>
                    <div class="dropdown-menu rounded-0 rounded-bottom m-0" style="border-top: 1px solid blue;">
                        <a href="/success-stories" class="dropdown-item">Sucess Stories</a>
                        <a href="/success-videos" class="dropdown-item">Success videos</a>
                    </div>
                </div>
          
                <% if (user) { %>
                    <a href="/login" class="nav-item nav-link" style="display: none;">Login</a>
                    <% } else { %>
                        <a href="/login" class="nav-item nav-link">Login</a>
                        <% } %>
            </div>


            <div class="profile">
                <% if (user) { %>
                    <div class="dropdown d-none d-lg-block">
                        <a href="#"
                            class="btn btn-danger rounded-0 py-4 px-lg-5 d-flex align-items-center dropdown-toggle"
                            data-bs-toggle="dropdown">
                            <span class="me-2">
                                <img src="/img/logo/avatar.svg" width="25px" class="img-fluid" alt="">
                            </span>
                            <%=user.firstname%>

                        </a>
                        <ul class="dropdown-menu shadow">
                       
                            <% if(userprofile){ %>
                                <li><a class="dropdown-item" href="javascript:void(0)" onclick="addProfile()"><i class="bi bi-person-circle me-1"></i> Profile</a></li>
                                <li>
                                    <a class="dropdown-item" href=""><i class="bi bi-app-indicator me-1"></i> Requests</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href=""><i class="bi bi-people me-1"></i>Connections</a>
                                </li>
                            <%} else{%>
                                <li><a class="dropdown-item" href="javascript:void(0)" onclick="addProfile()"><i class="bi bi-person-circle me-1"></i> Create profile</a></li>
                            <%}%>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/logout"><i class="bi bi-box-arrow-right me-1"></i> Logout</a>
                            </li>
                        </ul>
                    </div>

                    <% } else { %>
                        <a href="/signup" class="btn btn-danger rounded-0 py-4 px-lg-5 d-none d-lg-block">Register
                            here<i class="fa fa-arrow-right ms-3"></i></a>
                        <% } %>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
    <!-- header strt here -->
    <div class="main">

        <h2 class="text-center text-danger">weddings profiles</h2>
        <hr>

        <p class="text-center fs-1">---💌---</p>

        <!-- filter buttons -->
        <div id="filters">
            <button class="filter-btn btn active" data-category="all">See All</button>
            <button class="filter-btn btn" data-category="groom">Groom</button>
            <button class="filter-btn btn" data-category="bride">Bride</button>
            <!-- <button class="filter-btn btn" data-category="disabled">Disabled</button> -->
            <span class="pt-1">
                <select class="btn btn-dark" id="advfilters">
                    <option value="all" class="wow fadeIn" selected>All</option>
                    <option value="disabled">Disabled</option>
                    <option value="divorced">Divorced</option>
                </select>
            </span>
        </div>

        <!-- Portfolio Gallery Grid -->
        <div id="profileContainer" class="row mt-2">
             
        </div>

        <!-- pagination start here -->
        <div id="pagination" class="mb-5"></div> 


        <!-- END MAIN -->
    </div>


    <!-- header end here -->




    <!-- Footer Start -->
    <footer class="footer bg-danger">
        <div class="container">
            <div class="row m-0">


                <div class="col-md-3">
                    <div class="widget3">
                        <h5>
                            Quick Links
                        </h5>
                        <ul class="ps-0">
                            <li>
                                <a href="/" class="text-decoration-none word-hover">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="/about" class="text-decoration-none word-hover">
                                    about
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-decoration-none word-hover">
                                    contact
                                </a>
                            </li>
                            <li>
                                <a href="./profile.html" class="text-decoration-none word-hover">
                                    Profile
                                </a>
                            </li>
                            <li>
                                <a href="" class="text-decoration-none word-hover">
                                    Create Profile
                                </a>
                            </li>
                            <li>
                                <a href="./login.html" class="text-decoration-none word-hover">
                                    login
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="widget4">
                        <h5>
                            Other Links
                        </h5>
                        <ul class="ps-0">
                            <li>
                                <a href="./search.html" class="text-decoration-none word-hover">
                                    Simple search
                                </a>
                            </li>
                            <li>
                                <a href="./search.html" class="text-decoration-none word-hover">
                                    Advance search
                                </a>
                            </li>
                            <li>
                                <a href="./suc_s.html" class="text-decoration-none word-hover">
                                    Success stories
                                </a>
                            </li>
                            <li>
                                <a href="./suc_v.html" class="text-decoration-none word-hover">
                                    Success vidios
                                </a>
                            </li>
                           
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="widget1">
                        <div class="logo">
                            <h2 style="font-family:fantasy;"><span class="text-warning"
                                    style="text-decoration:underline;">BURUD</span>BANDHAN</h2>
                        </div>
                        <p>
                            In eu libero ligula. Fusce eget metus lorem, ac viverra
                            leo. Nullam convallis, arcu vel pellentesque sodales,
                            nisi est varius diam, ac ultrices sem ante quis sem.
                            Proin ultricies volutpat sapien.
                        </p>
                        <div class="socialLinks">
                            <ul>
                                <li>
                                    <a href="#" class="text-decoration-none word-hover">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-decoration-none word-hover">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-decoration-none word-hover">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-decoration-none word-hover">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyRightArea">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <p>© Copyright Burud-bhanden.com. Designed by @Increditex software solutions pvt ltd. All right
                            reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-warning text-white btn-lg-square rounded-circle back-to-top"><i
            class="bi bi-arrow-up"></i></a>

    <!-- JavaScript Libraries -->
    <!-- new link which are used for jaavscript -->
    <div class="modal fade wow fadeIn" id="basicInfoAddModal">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="text-dark">Add Personal Information</h6>
                    <button type="button" class="close" data-bs-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="row g-4" id="basicInfo-form">


                        <div class="col-md-4">
                            <label for="">Create Profile for</label>
                            <select class="form-control" id="profilefor" name="profilefor" required>
                                <option disabled selected value="">Select</option>
                                <option value="Groom">Groom</option>
                                <option value="Bride">Bride</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="full-name">Full Name</label>
                            <input class="form-control" type="text" id="fullname" name="fullname" required>
                        </div>
                        <div class="col-md-4">
                            <label for="city">City</label>
                            <select class="form-control" id="city" name="city" required>
                                <option disabled selected value="">Select</option>
                                <option value="Nashik">Nashik</option>
                                <option value="Pune">Pune</option>
                                <option value="Jalgaon">Jalgaon</option>
                                <option value="Kolhapur">Kolhapur</option>
                                <option value="Sambhajinanagr">Sambhajinanagr</option>
                                <option value="Chalisgaon">Chalisgaon</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="dob">Date of Birth(जन्म तारीख)</label>
                            <input type="date" class="form-control" id="dob" name="dateofbirth" required>
                        </div>
                        <div class="col-md-4">
                            <label for="education">Education</label>
                            <select class="form-control" id="education" name="education" required>
                                <option disabled selected value="">Select</option>
                                <option value="Diploma">Diploma</option>
                                <option value="Master Degree">Master Degree</option>
                                <option value="Graduation">Graduation</option>
                                <option value="12Th">12Th</option>
                                <option value="10Th">10Th</option>
                                <option value="Chalisgaon">Engineering</option>

                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="income">Income(वार्षिक उत्पन्न )</label>
                            <input type="number" class="form-control" id="income" name="income" placeholder="per annum"
                                required>
                        </div>

                        <div class="col-md-4">
                            <label for="blood-group">Blood Group</label>
                            <select class="form-control" id="bloodgroup" name="bloodgroup" required>
                                <option disabled selected value="">Select</option>
                                <option value="A positive (A+)">A positive (A+)</option>
                                <option value="A negative (A-)">A negative (A-)</option>
                                <option value="B positive (B+)">B positive (B+)</option>
                                <option value="B negative (B-)">B negative (B-)</option>
                                <option value="AB positive (AB+)">AB positive (AB+)</option>
                                <option value="AB negative (AB-)">AB negative (AB-)</option>
                                <option value="O positive (O+)">O positive (O+)</option>
                                <option value="O positive (O+)">O negative (O-)</option>

                            </select>
                        </div>

                        <div class="col-md-4">
                            <label for="spectacles">Spectacles (चष्मा )</label>
                            <select class="form-control" id="spectacles" name="spectacles" required>
                                <option disabled selected value="">Select</option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label for="gotra-devak">Gotra & Devak (गोत्र/देवक) </label>
                            <input class="form-control" type="text" id="gotradevak" name="gotra" required>
                        </div>

                        <div class="col-md-4">
                            <label for="birth-place">Birth Place(जन्म ठिकाण )</label>
                            <input class="form-control" type="text" id="birthplace" name="birthplace" required>
                        </div>

                        <div class="col-md-4">
                            <label for="occupation">Occupation(व्यवसाय/नोकरी )</label>
                            <input class="form-control" type="text" id="occupation" name="occupation" required>
                        </div>

                        <div class="col-md-4">
                            <label for="marital-status">Marital Status</label>
                            <select class="form-control" id="maritalstatus" name="maritalstatus" required>
                                <option disabled selected value="">Select</option>
                                <option value="single">Single</option>
                                <option value="divorced">Divorced</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label for="height">Height in cm (उंची सेंटी)</label>
                            <input class="form-control" type="number" id="height" name="height" required>
                        </div>

                        <div class="col-md-4">
                            <label for="occupation-city">Occupation City(व्यवसाय शहर )</label>
                            <input class="form-control" type="text" id="occupationcity" name="occupationcity" required>
                        </div>

                        <div class="col-md-4">
                            <label for="complexion">Complexion(वर्ण)</label>
                            <input class="form-control" type="text" id="complexion" name="complexion" required>
                        </div>

                        <div class="col-md-4">
                            <label for="mangal">Mangal(मंगळ)</label>
                            <select class="form-control" id="mangal" name="mangal" required>
                                <option disabled selected value="">Select</option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>

                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="resident-city">Resident City(राहते शहर )</label>
                            <select class="form-control" id="residentcity" name="residentcity" required>
                                <option disabled selected value="">Select</option>
                                <option value="Nashik">Nashik</option>
                                <option value="Pune">Pune</option>
                                <option value="Jalgaon">Jalgaon</option>
                                <option value="Kolhapur">Kolhapur</option>
                                <option value="Sambhajinanagr">Sambhajinanagr</option>
                                <option value="Chalisgaon">Chalisgaon</option>
                            </select>
                        </div>

                        <div class="row border-top">
                            <h6 class="text-dark p-3">Your contact details</h6>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="age-difference"> Email id </label>
                                        <input class="form-control" type="email" id="email" name="email" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="age-difference">Mobile number</label>
                                        <input class="form-control" type="number" id="mobile" name="mobile" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">close</button>
                    <button class="btn btn-primary" type="submit"
                        onclick="captureBasicDetails(); addFamilyBackground();" id="proceedToSecondModal"
                        disabled>next</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="familyinfoAddModal">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="text-dark">Add Family Information</h6>
                    <button type="button" class="close" data-bs-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="" class="row" id="familyInfo-form" enctype="multipart/form-data">
                        <div class="col-md-12">
                            <div class="row my-4">

                                <input type="hidden" name="profilefor" id="profileforinput" value="">
                                <input type="hidden" name="fullname" id="fullnameinput" value="">
                                <input type="hidden" name="city" id="cityinput" value="">
                                <input type="hidden" name="dob" id="dobinput" value="">
                                <input type="hidden" name="income" id="incomeinput" value="">
                                <input type="hidden" name="education" id="educationinput" value="">
                                <input type="hidden" name="bloodgroup" id="bloodgroupinput" value="">
                                <input type="hidden" name="spectacles" id="spectaclesinput" value="">
                                <input type="hidden" name="gotra" id="gotrainput" value="">
                                <input type="hidden" name="birthplace" id="birthplaceinput" value="">
                                <input type="hidden" name="occupation" id="occupationinput" value="">
                                <input type="hidden" name="complexion" id="complexioninput" value="">
                                <input type="hidden" name="maritalstatus" id="maritalstatusinput" value="">
                                <input type="hidden" name="height" id="heightinput" value="">
                                <input type="hidden" name="occupationcity" id="occupationcityinput" value="">
                                <input type="hidden" name="mangal" id="mangalinput" value="">
                                <input type="hidden" name="residentcity" id="residentcityinput" value="">
                                <input type="hidden" name="email" id="emailinput" value="">
                                <input type="hidden" name="mobile" id="mobileinput" value="">



                                <div class="col-md-4">
                                    <label for="father-name">Father's Name</label>
                                    <input class="form-control" type="text" id="fathername" name="fathername"
                                        required>
                                </div>

                                <div class="col-md-4">
                                    <label for="mother-name">Mother's Name</label>
                                    <input class="form-control" type="text" id="mothername" name="mothername"
                                        required>
                                </div>

                                <div class="col-md-4">
                                    <label for="maternal-uncle">Maternal Uncle(मामकूल )</label>
                                    <input class="form-control" type="text" id="maternaluncle"
                                        name="maternaluncle" required>
                                </div>

                                <div class="col-md-4">
                                    <label for="native-place">Native Place</label>
                                    <input class="form-control" type="text" id="nativeplace" name="nativeplace"
                                        required>
                                </div>

                                <div class="col-md-4">
                                    <label for="family-wealth">Family Wealth</label>
                                    <select class="form-control" id="citywealth" name="citywealth" required>
                                        <option disabled selected value="">Select</option>
                                        <option value="Nashik">Nashik</option>
                                        <option value="Pune">Pune</option>
                                        <option value="Jalgaon">Jalgaon</option>
                                        <option value="Kolhapur">Kolhapur</option>
                                        <option value="Sambhajinanagr">Sambhajinanagr</option>
                                        <option value="Chalisgaon">Chalisgaon</option>

                                    </select>
                                </div>

                                <div class="col-md-4">
                                    <label for="parents-residing-in">Parents Residing In (City)</label>
                                    <select class="form-control" id="parentcity" name="parentcity" required>
                                        <option disabled selected value="">Select</option>
                                        <option value="Nashik">Nashik</option>
                                        <option value="Pune">Pune</option>
                                        <option value="Jalgaon">Jalgaon</option>
                                        <option value="Kolhapur">Kolhapur</option>
                                        <option value="Sambhajinanagr">Sambhajinanagr</option>
                                        <option value="Chalisgaon">Chalisgaon</option>

                                    </select>
                                </div>

                                <div class="col-md-4">
                                    <label for="sister">Sister(Yes/No) </label>
                                    <select class="form-control" id="sister" name="sister" required>
                                        <option disabled selected value="">Select</option>
                                        <option value="yes">Yes</option>
                                        <option value="no">No</option>
                                    </select>
                                </div>

                            </div>

                            <div class="row border-top">
                                <h6 class="text-dark p-3">Expectations</h6>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="age-difference">Age Difference Upto:(In Year) </label>
                                            <input class="form-control" type="text" id="agedifference"
                                                name="agedifference" required>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="preferred-city">Preferred City:</label>
                                            <select class="form-control" id="preferredcity" name="preferredcity"
                                                required>
                                                <option disabled selected value="">Select</option>
                                                <option value="Nashik">Nashik</option>
                                                <option value="Pune">Pune</option>
                                                <option value="Jalgaon">Jalgaon</option>
                                                <option value="Kolhapur">Kolhapur</option>
                                                <option value="Sambhajinanagr">Sambhajinanagr</option>
                                                <option value="Chalisgaon">Chalisgaon</option>

                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="expected-height">Expected Height:</label>
                                            <input class="form-control" type="number" id="expectedheight"
                                                name="expectedheight" required>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="education-dropdown">Education:</label>
                                            <select class="form-control" id="herhiseducation" name="herhiseducation"
                                                required>
                                                <option disabled selected value="">Select</option>
                                                <option value="Diploma">Diploma</option>
                                                <option value="Master Degree">Master Degree</option>
                                                <option value="Graduation">Graduation</option>
                                                <option value="12Th">12Th</option>
                                                <option value="10Th">10Th</option>
                                                <option value="Chalisgaon">Engineering</option>

                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="occupations">Occupations:</label>
                                            <input class="form-control" type="text" id="herhisoccupation"
                                                name="herhisoccupation" required>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="parent-residing-in">Parent Residing In: (City)</label>
                                            <input class="form-control" type="text" id="herhisparentresidence"
                                                name="herhisparentresidence" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">close</button>
                    <button class="btn btn-danger" type="submit" onclick="submitFormData();">submit</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <!-- new link end here -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>


    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script src="js/profile.js"></script>

</body>

</html>